<app-navbar></app-navbar>

<!-- Default form login -->
<div class="form-container">
  <form class="text-center border border-light p-5">

    <p class="h4 mb-4">Podaj email:</p>

    <!-- Email -->
    <div class="md-form" [formGroup]="emailForm" *ngIf="emailForm">
      <input mdbInput type="email" id="defaultLoginFormEmail" formControlName="userEmail" class="form-control mb-4">
      <label for="defaultLoginFormEmail">E-mail</label>
      <mdb-error *ngIf="emailForm.get('userEmail').invalid && (emailForm.get('userEmail').dirty ||
                 emailForm.get('userEmail').touched)">Nieprawidłowy e-mail
      </mdb-error>
      <mdb-success *ngIf="emailForm.get('userEmail').valid && (emailForm.get('userEmail').dirty ||
                 emailForm.get('userEmail').touched)">Poprawnie
      </mdb-success>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit" (click)="sendEmail()">Wyślij</button>

  </form>
  <!-- Default form login -->
</div>
