<app-navbar></app-navbar>

<div class="component-background-image"></div>

<div class="choose-doctor-section form-container">

  <table mdbTable>
    <thead>
    <tr>
      <th *ngFor="let header of tableHeaders" scope="col">{{header}} </th>
    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor="let doctor of doctors">
      <th scope="row">{{doctor.name}}</th>
      <td>{{doctor.surname}}</td>
      <td>{{doctor.profession}}</td>
      <td>{{doctor.roomNumber}}</td>
      <td>{{doctor.email}}</td>
      <td>
        <button mdbBtn class="btn btn-info" routerLink="/manage-doctor-timetable/{{doctor.doctorId}}">Harmonogram</button>
      </td>
      <td>
        <button mdbBtn class="btn btn-red" (click)="deleteDoctorAccount(doctor.doctorId)">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
