<app-navbar></app-navbar>
<div class="form-container">
  <form class="text-center border border-light p-5">

    <p class="h4 mb-4">Logowanie:</p>

    <!-- Email -->
    <div class="md-form">
      <input mdbInput type="email" id="defaultLoginFormEmail" class="form-control mb-4">
      <label for="defaultLoginFormEmail">E-mail</label>
    </div>

    <!-- Password -->
    <div class="md-form">
      <input mdbInput type="password" id="defaultLoginFormPassword" class="form-control mb-4">
      <label for="defaultLoginFormPassword">Hasło</label>
    </div>

    <div class="d-flex justify-content-around">
      <div>
        <!-- Forgot password -->
        <a href="/forgot-password">Zapomniałeś hasła?</a>
      </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Zaloguj</button>

    <!-- Register -->
    <p>Nie masz konta?
      <a href="/register-patient">Zarejestruj się</a>
    </p>

  </form>
</div>
