<app-navbar></app-navbar>
<!-- Default form register -->

<div style="width: 40%; margin-left: 30%">
  <form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Stwórz konto</p>

    <mat-tab-group animationDuration="10ms">

      <mat-tab label="Pacjent"><br>
        <div class="formInside">
          <div class="form-row mb-4">
            <div class="col">
              <!-- First name -->
              <input type="text" id="patientFirstName" class="form-control" placeholder="Imię">
            </div>
            <div class="col">
              <!-- Last name -->
              <input type="text" id="patientLastName" class="form-control" placeholder="Nazwisko">
            </div>
          </div>

          <!-- E-mail -->
          <input type="email" id="patientEmail" class="form-control mb-4" placeholder="E-mail">

          <!-- Password -->
          <input type="password" id="patientPassword" class="form-control mb-4" placeholder="Hasło"
                 aria-describedby="patientPasswordHelpBlock">

          <!-- Phone number -->
          <input type="text" id="patientPhonePassword" class="form-control mb-4" placeholder="Numer telefonu"
                 aria-describedby="patientPhoneHelpBlock">

          <!-- Sign up button -->
          <button class="btn btn-info my-4 btn-block">Zarejestruj</button>
        </div>
      </mat-tab>


      <mat-tab label="Lekarz"><br>
        <div class="formInside">
          <div class="form-row mb-4">
            <div class="col">
              <!-- First name -->
              <input type="text" id="doctorFirstName" class="form-control" placeholder="Imię">
            </div>
            <div class="col">
              <!-- Last name -->
              <input type="text" id="doctorLastName" class="form-control" placeholder="Nazwisko">
            </div>
          </div>

          <!-- E-mail -->
          <input type="email" id="doctorEmail" class="form-control mb-4" placeholder="E-mail">

          <!-- Password -->
          <input type="password" id="doctorPassword" class="form-control mb-4" placeholder="Hasło"
                 aria-describedby="patientPasswordHelpBlock">

          <!-- Phone number -->
          <input type="text" id="doctorJob" class="form-control mb-4" placeholder="Zawód"
                 aria-describedby="doctorJob">

          <!-- Phone number -->
          <input type="text" id="doctorPhonePassword" class="form-control mb-4" placeholder="Numer telefonu"
                 aria-describedby="doctorPhoneHelpBlock">

          <!-- Sign up button -->
          <button class="btn btn-info my-4 btn-block">Zarejestruj</button>
        </div>
      </mat-tab>

    </mat-tab-group>


  </form>
  <!-- Default form register -->
</div>
