#background-image {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  width: 100%;
  height: 10%;
}

.background{
  position: relative;
  text-align: center;
}

.text-center{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
