<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary"
            [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="logo" href="/home">ePacjent</a> </mdb-navbar-brand>
<links>
  <ul>
    <li>
      <a href="/patient-date-picker">Zarezerwuj wizytę</a>
    </li>
  </ul>
</links>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto mr-1">
      <li class="nav-item">
        <a href="/register">Stwórz konto</a>
      </li>
      <li class="nav-item">
       <a href="/login">Zaloguj się</a>
      </li>
    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
