<app-navbar></app-navbar>
<!-- Default form register -->
<div style="width: 50%; margin-left: 25%">
  <form class="text-center border border-light p-5">

    <p class="h4 mb-4">Stwórz konto pacjenta</p>

        <div class="formInside" [formGroup]="patientForm" *ngIf="patientForm">
          <div class="form-row">

            <!-- First name -->
            <div class="col">
              <div class="md-form">
                <input mdbInput type="text" id="patientFirstName" class="form-control mb-4"
                       formControlName="patientFirstNameForm">
                <label for="patientFirstName">Imię</label>
                <mdb-error *ngIf="patientForm.get('patientFirstNameForm').invalid && (patientForm.get('patientFirstNameForm').dirty ||
                 patientForm.get('patientFirstNameForm').touched)">Nieprawidłowe imię
                </mdb-error>
                <mdb-success *ngIf="patientForm.get('patientFirstNameForm').valid && (patientForm.get('patientFirstNameForm').dirty ||
                 patientForm.get('patientFirstNameForm').touched)">Poprawnie
                </mdb-success>
              </div>
            </div>

            <!-- Last name -->
            <div class="col">
              <div class="md-form">
                <input mdbInput type="text" id="patientLastName" class="form-control mb-4"
                       formControlName="patientLastNameForm">
                <label for="patientLastName">Nazwisko</label>
                <mdb-error *ngIf="patientForm.get('patientLastNameForm').invalid && (patientForm.get('patientLastNameForm').dirty ||
                 patientForm.get('patientLastNameForm').touched)">Nieprawidłowe nazwisko
                </mdb-error>
                <mdb-success *ngIf="patientForm.get('patientLastNameForm').valid && (patientForm.get('patientLastNameForm').dirty ||
                 patientForm.get('patientLastNameForm').touched)">Poprawnie
                </mdb-success>
              </div>
            </div>
          </div>


          <!-- E-mail -->
          <div class="md-form">
            <input mdbInput type="email" id="patientEmail" class="form-control mb-4" formControlName="patientEmailForm">
            <label for="patientEmail">E-mail</label>
            <mdb-error *ngIf="patientForm.get('patientEmailForm').invalid && (patientForm.get('patientEmailForm').dirty ||
                 patientForm.get('patientEmailForm').touched)">Nieprawidłowy e-mail
            </mdb-error>
            <mdb-success *ngIf="patientForm.get('patientEmailForm').valid && (patientForm.get('patientEmailForm').dirty ||
                 patientForm.get('patientEmailForm').touched)">Poprawnie
            </mdb-success>
          </div>


          <!-- Password -->
          <div class="md-form">
            <input mdbInput type="text" id="patientPassword" class="form-control mb-4"
                   formControlName="patientPasswordForm">
            <label for="patientPassword">Hasło</label>
            <mdb-error *ngIf="patientForm.get('patientPasswordForm').invalid && (patientForm.get('patientPasswordForm').dirty ||
                 patientForm.get('patientPasswordForm').touched)">Nieprawidłowe hasło
            </mdb-error>
            <mdb-success *ngIf="patientForm.get('patientPasswordForm').valid && (patientForm.get('patientPasswordForm').dirty ||
                 patientForm.get('patientPasswordForm').touched)">Poprawnie
            </mdb-success>
          </div>


          <!-- Date of Birth -->
          <div class="md-form">
            <input mdbInput type="text" id="patientDateOfBirth" class="form-control mb-4"
                   formControlName="patientDateOfBirthForm">
            <label for="patientDateOfBirth">Data urodzenia</label>
            <mdb-error *ngIf="patientForm.get('patientDateOfBirthForm').invalid && (patientForm.get('patientDateOfBirthForm').dirty ||
                 patientForm.get('patientDateOfBirthForm').touched)">Nieprawidłowa data urodzenia
            </mdb-error>
            <mdb-success *ngIf="patientForm.get('patientDateOfBirthForm').valid && (patientForm.get('patientDateOfBirthForm').dirty ||
                 patientForm.get('patientDateOfBirthForm').touched)">Poprawnie
            </mdb-success>
          </div>


          <!-- Pesel -->
          <div class="md-form">
            <input mdbInput type="text" id="patientPesel" class="form-control mb-4" formControlName="patientPeselForm">
            <label for="patientPesel">Pesel</label>
            <mdb-error *ngIf="patientForm.get('patientPeselForm').invalid && (patientForm.get('patientPeselForm').dirty ||
                 patientForm.get('patientPeselForm').touched)">Nieprawidłowy pesel
            </mdb-error>
            <mdb-success *ngIf="patientForm.get('patientPeselForm').valid && (patientForm.get('patientPeselForm').dirty ||
                 patientForm.get('patientPeselForm').touched)">Poprawnie
            </mdb-success>
          </div>


          <!-- Phone number -->
          <div class="md-form">
            <input mdbInput type="text" id="patientPhoneNumber" class="form-control mb-4"
                   formControlName="patientPhoneNumberForm">
            <label for="patientPhoneNumber">Numer telefonu</label>
            <mdb-error *ngIf="patientForm.get('patientPhoneNumberForm').invalid && (patientForm.get('patientPhoneNumberForm').dirty ||
                 patientForm.get('patientPhoneNumberForm').touched)">Niepoprawny numer telefonu
            </mdb-error>
            <mdb-success *ngIf="patientForm.get('patientPhoneNumberForm').valid && (patientForm.get('patientPhoneNumberForm').dirty ||
                 patientForm.get('patientPhoneNumberForm').touched)">Poprawnie
            </mdb-success>
          </div>

          <!-- Sign up button -->
          <button class="btn btn-info my-4 btn-block" (click)="registerPatient()">Zarejestruj</button>

        </div>

  </form>
</div>
