<app-navbar></app-navbar>

<div class="component-background-image"></div>

<div class="form-container">

  <span style="margin-left: 1rem;">
    <label for="descriptionTextArea" style="display: block">Dodatkowy opis:</label>
    <textarea id="descriptionTextArea" #description rows="3" (change)="changeOneDayDescription(description.value)"
              style="width: 100%;">{{oneDayDescription}}</textarea>
  </span>

  <mat-tab-group style="margin-top: 1rem">

    <mat-tab label="Wizyty do akceptacji">
      <table mdbTable>
        <thead>
        <tr>
          <th *ngFor="let header of tableHeaders" scope="col">{{header}} </th>
        </tr>
        </thead>
        <tbody *ngIf="oneDay != null">
        <tr *ngFor="let doctorOneDate of visitsToAccept">
          <th *ngIf="doctorOneDate.visibility == true" scope="row">{{doctorOneDate.visitHour}}
            :{{doctorOneDate.visitMinute}}</th>
          <td *ngIf="doctorOneDate.visibility == true">{{doctorOneDate.additionalDescription}}</td>
          <td *ngIf="doctorOneDate.visibility == true">
            <button mdbBtn class="btn btn-info" [routerLink]="['/book-a-visit-details',doctorOneDate.visitId]">
              Szczegóły wizyty
            </button>
          </td>
          <td *ngIf="doctorOneDate.visibility == true">
            <button mdbBtn class="btn btn-danger" (click)="cancelVisitToAccept(doctorOneDate.visitId)">Anuluj
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Wizyty">
      <table mdbTable>
        <thead>
        <tr>
          <th *ngFor="let header of visitTableHeaders" scope="col">{{header}} </th>
        </tr>
        </thead>
        <tbody *ngIf="oneDay != null">
        <tr *ngFor="let oneVisit of doctorVisits">
          <th scope="row">{{oneVisit.fromTime.toString().substring(0, oneVisit.fromTime.toString().length - 3)}}</th>
          <th scope="row">{{oneVisit.toTime.toString().substring(0, oneVisit.toTime.toString().length - 3)}}</th>
          <td>
            <div *ngIf="oneVisit.isBusy === 'false'; else elseBlock">Wolne</div>
            <ng-template #elseBlock>Zajete</ng-template>
          </td>
          <td>{{oneVisit.additionalDescription}}</td>
          <td>
            <button *ngIf="oneVisit.isBusy === 'true'" mdbBtn class="btn btn-info" [routerLink]="['/one-visit-patient-details', oneVisit.patientId]">
              Szczegóły wizyty
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </mat-tab>

  </mat-tab-group>
</div>
