<app-navbar></app-navbar>

<div class="component-background-image"></div>

<div class="form-container" style="margin-top: 2rem;">
  <h5> Wizyty do akceptacji </h5>
  <table mdbTable>
    <thead>
    <tr>
      <th *ngFor="let header of tableHeaders" scope="col">{{header}} </th>
    </tr>
    </thead>
    <tbody *ngIf="oneDay != null">
    <tr mdbTableCol *ngFor="let doctorOneDate of visitsToAccept">
      <th *ngIf="doctorOneDate.visibility == true" scope="row">{{doctorOneDate.visitHour}}:{{doctorOneDate.visitMinute}}</th>
      <td *ngIf="doctorOneDate.visibility == true">{{doctorOneDate.additionalDescription}}</td>
      <td *ngIf="doctorOneDate.visibility == true">
        <button mdbBtn class="btn btn-info" [routerLink]="['/book-a-visit-details',doctorOneDate.visitId]">Szczegóły wizyty</button>
      </td>
    </tr>
    </tbody>
  </table>

  <hr>
  <h5> Wizyty: </h5>
  <table mdbTable>
    <thead>
    <tr>
      <th *ngFor="let header of visitTableHeaders" scope="col">{{header}} </th>
    </tr>
    </thead>
    <tbody *ngIf="oneDay != null">
    <tr mdbTableCol *ngFor="let oneVisit of doctorVisits">
      <th scope="row">{{oneVisit.fromTime.toString().substring(0,oneVisit.fromTime.toString().length-3)}}</th>
      <td>{{oneVisit.additionalDescription}}</td>
    </tr>
    </tbody>
  </table>


</div>
