<app-navbar></app-navbar>

<div class="component-background-image"></div>

<div class="form-container margin-top-2rem" *ngIf="patient">
  <h5 style="margin-bottom: 1rem">Szczegóły pacjenta</h5>
  <h6>Imię: {{patient.name}}</h6>
  <h6>Nazwisko: {{patient.surname}}</h6>
  <h6>Telefon: {{patient.phoneNumber}}</h6>
  <h6>Email: {{patient.email}}</h6>

  <span style="margin-left: 1rem;">
    <label for="descriptionTextArea" style="display: block">Dodatkowy opis:</label>
    <textarea id="descriptionTextArea" #description rows="3" (change)="changeOneVisitDoctorDescription(description.value)"
              style="width: 100%;">{{oneVisitDoctorDescription}}</textarea>
  </span>

  <br>
  <h4>Wszystkie wizyty:</h4>
  <table mdbTable>
    <thead>
    <tr>
      <th *ngFor="let header of patientVisitsHeaders" scope="col">{{header}} </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let oneVisit of patientVisits">
      <td>{{oneVisit.visitDate.substring(0, 10)}}</td>
      <td>{{oneVisit.fromTime.toString().substring(0, oneVisit.fromTime.toString().length - 3)}}
        - {{oneVisit.toTime.toString().substring(0, oneVisit.toTime.toString().length - 3)}}</td>
      <td>{{oneVisit.doctor.name}} {{oneVisit.doctor.surname}}</td>
      <td>{{oneVisit.additionalDescription}}</td>
      <td>{{oneVisit.additionalDoctorDescription}}</td>
    </tbody>
  </table>

</div>
