/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

@media (max-width: 992px) {
  .form-container {
    width: 80%;
    margin:auto;
  }
}

@media (min-width: 992px) {
  .form-container {
    width: 50%;
    margin:auto;
  }
}

.my-calendar-event-style {
  font-weight: bolder;
  font-size: 0.9rem;
  background-color: transparent;
  color: #b0b0b0 !important;
  text-align: center !important;
  border-color: transparent;
}

.calendar .fc-day-number{
  font-size: 1.05rem !important;
  font-weight: bold;
  color: #666666;
  background-color: #f7f7f7;
}
